bucket         = "fiap-videos-staging-terraform-state"
key            = "infra/terraform.tfstate"
region         = "sa-east-1"
dynamodb_table = "fiap-videos-staging-terraform-lock"
encrypt        = true
